<div class="contenedor">

    <h4>INVENTARIO</h4>
    <mat-divider></mat-divider>

  <!--   <mat-card style="margin-top: 10px; margin-bottom: 10px;">
        <mat-card-header>
            <mat-card-title>
                Filtro de Busqueda
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            
            <mat-form-field class="ancho-amplio">
                <input matInput placeholder="Código"  [(ngModel)]="filtro">
            </mat-form-field>
            
            <button mat-raised-button color="primary" style="margin-left: 10px; ">
                <mat-icon>search</mat-icon>Buscar
            </button>
        </mat-card-content>
    </mat-card> -->

    <mat-card>
        <mat-card-content>

            <section>
                <div class="example-button-row">
                    <button mat-raised-button color="primary" (click)="openDialogSearchProducts({},'save')">
                        <mat-icon>add</mat-icon>
                        Nuevo
                    </button>
                </div>
            </section>

            <div class="mat-elevation-z1">
                <table mat-table [dataSource]="dataSource" style="width: 1024px;">

                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element; let i = index" (click)="obtenerElementoPosicion(i)">
                            {{element.id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="codigo_barra">
                        <th mat-header-cell *matHeaderCellDef> CÓDIGO </th>
                        <td mat-cell *matCellDef="let element; let i = index" (click)="obtenerElementoPosicion(i)">
                            {{element.codigo_barra}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> NOMBRE PRODUCTO </th>
                        <td mat-cell *matCellDef="let element; let i = index" (click)="obtenerElementoPosicion(i)">
                            {{element.nombre}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="marca">
                        <th mat-header-cell *matHeaderCellDef> MARCA </th>
                        <td mat-cell *matCellDef="let element; let i = index" (click)="obtenerElementoPosicion(i)">
                            {{element.marca}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef> CANTIDAD </th>
                        <td mat-cell *matCellDef="let element; let i = index" (click)="obtenerElementoPosicion(i)">
                            {{element.cantidad}} </td>
                    </ng-container>

                    <ng-container matColumnDef="minimo">
                        <th mat-header-cell *matHeaderCellDef> MINIMO </th>
                        <td mat-cell *matCellDef="let element; let i = index" (click)="obtenerElementoPosicion(i)">
                            {{element.minimo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="maximo">
                        <th mat-header-cell *matHeaderCellDef> MAXIMO </th>
                        <td mat-cell *matCellDef="let element; let i = index" (click)="obtenerElementoPosicion(i)">
                            {{element.maximo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="precio_registro">
                        <th mat-header-cell *matHeaderCellDef> PRECIO REGISTRO </th>
                        <td mat-cell *matCellDef="let element; let i = index" (click)="obtenerElementoPosicion(i)">
                            {{element.precio_registro}} </td>
                    </ng-container>

                    <ng-container matColumnDef="precio_venta">
                        <th mat-header-cell *matHeaderCellDef> PRECIO VENTA </th>
                        <td mat-cell *matCellDef="let element; let i = index" (click)="obtenerElementoPosicion(i)">
                            {{element.precio_venta}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>