<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Toggle menu" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>TIENDA AMIGA</span>
  <span class="example-spacer"></span>

</mat-toolbar>

<mat-drawer-container class="example-container" style=" width: 100%;" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 20%;">
    <img src="https://cdn-icons-png.flaticon.com/512/5449/5449135.png" height="200px" width="50%"
      style="margin-left: 20px;">

    <mat-accordion>
      
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let opciones of moduloMenu">
        <mat-expansion-panel-header >
          <mat-panel-title>
            <mat-icon>{{opciones.icono}}</mat-icon> 
            {{opciones.modulo}}
          </mat-panel-title>
        
        </mat-expansion-panel-header>
        <a routerLink="{{opciones.ruta}}">{{opciones.submodulo}}</a>
        
      </mat-expansion-panel>
    </mat-accordion>


  </mat-drawer>

  <div class="example-sidenav-content" >
    <router-outlet ></router-outlet>
  </div>
</mat-drawer-container>