<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>VENTA DE PRODUCTOS</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider> <br>
        <mat-card-content>
            <div class="input-container">
                <mat-form-field floatLabel="always" style="width: 75%;" dir="ltr">
                    <mat-label>Código de Barra</mat-label>
                    <input matInput type="text" class="example-left-align" [(ngModel)]="codigoBarras"
                        (change)="leerCodigoDeBarras()" autofocus>
                    <span matTextPrefix>&nbsp;</span>
                </mat-form-field>
                <!-- 
                <button mat-button style="margin-left: 10px;" (click)=" leerCodigoDeBarras()">
                    <mat-icon>
                        search
                    </mat-icon>
                </button> -->
            </div>

        </mat-card-content>
    </mat-card>

    <br>
    <mat-card>
        <mat-card-content>
            <div class="mat-elevation-z1" style="overflow-x: auto; overflow-y: auto; max-height: 200px;">
                <table mat-table [dataSource]="dataSource" style="width: 1024px;">

                    <!-- Position Column -->
                    <ng-container matColumnDef="codigo_barra">
                        <th mat-header-cell *matHeaderCellDef>Código de Barra </th>
                        <td mat-cell *matCellDef="let element; let i = index" (click)="eliminarElementoPosicion(i)">
                            {{element.codigo_barra}}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre_producto">
                        <th mat-header-cell *matHeaderCellDef> Producto </th>
                        <td mat-cell *matCellDef="let element; let i = index" (click)="eliminarElementoPosicion(i)">
                            {{element.nombre_producto}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <input type="number" [(ngModel)]="element.cantidad"
                                (change)="asignarTotal(element.cantidad,element);" min="0" max="99" value="0">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="precio_unitario">
                        <th mat-header-cell *matHeaderCellDef> precio unitario </th>
                        <td mat-cell *matCellDef="let element; let i = index" (click)="eliminarElementoPosicion(i)">
                            {{element.precio_unitario}} </td>
                    </ng-container>

                    <!-- precio_total Column -->
                    <ng-container matColumnDef="precio_total">
                        <th mat-header-cell *matHeaderCellDef> Total </th>
                        <td mat-cell *matCellDef="let element; let i = index" (click)="eliminarElementoPosicion(i)">
                            {{element.precio_total}} </td>
                        <mat-footer-cell *matFooterCellDef> Name Footer </mat-footer-cell>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>

    <br>
    <mat-card>
        <mat-card-content>
            <div class="example-container center-content">
                <mat-form-field floatLabel="always" style="width: 25%;">
                    <mat-label>SubTotal</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="0"
                        [(ngModel)]="subTotalInput"  readonly="true">
                   
                </mat-form-field>
                <mat-form-field floatLabel="always" style="width: 25%;">
                    <mat-label>Total a Pagar</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="0"
                        [(ngModel)]="TotalPagarInput" readonly="true">
                  
                </mat-form-field>
                <mat-form-field floatLabel="always" style="width: 25%;">
                    <mat-label>Dinero Recibido</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="DineroInput"
                        (change)="vueltoCobro()">
                </mat-form-field>

                <mat-form-field floatLabel="always" style="width: 25%;">
                    <mat-label>Vuelto</mat-label>
                    <input matInput type="number" class="example-right-align" placeholder="0"  [(ngModel)]="vueltoInput" readonly="true">
                   
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-card-actions class="align-right">
            <button mat-raised-button color="primary" style="margin-right: 1%;" [disabled]="pagoCumplido"  (click)="CobrarVenta();">Realizar
                Pago</button>
            <button mat-raised-button color="warn">Cancelar</button>
        </mat-card-actions>
    </mat-card>

</div>