.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-width: 0.25em;
    border-style: solid;
    border-color: currentColor transparent transparent transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
  }
  
  @keyframes spinner-border {
    to {
      transform: rotate(360deg);
    }
  }
  