<h1 mat-dialog-title>Gestionar Inventario</h1>
<div mat-dialog-content>

    <div fxLayout="row" fxLayoutGap="100px">
        <mat-form-field class="example-full-width">
            <mat-label>Codigo de Barra</mat-label>
            <input matInput [(ngModel)]="txt_cod_barra" maxlength="50">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="100px">
        <mat-form-field>
            <mat-label>Seleccione Producto</mat-label>
            <mat-select [(value)]="txt_nombre">
                <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor.producto">
                    {{ proveedor.producto }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Seleccione la Marca</mat-label>
            <mat-select [(value)]="txt_marca">
                <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor.marca">
                    {{ proveedor.marca }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>


    <div fxLayout="row" fxLayoutGap="50px">
        <mat-form-field class="example-full-width">
            <mat-label>cantidad</mat-label>
            <input matInput [(ngModel)]="txt_cantidad" (keypress)="soloNumeros($event)" placeholder="0" maxlength="3">
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="50px">
        <mat-form-field class="example-full-width">
            <mat-label>Minimo</mat-label>
            <input matInput [(ngModel)]="txt_minimo" (keypress)="soloNumeros($event)" placeholder="0" maxlength="3">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Maximo</mat-label>
            <input matInput [(ngModel)]="txt_maximo" (keypress)="soloNumeros($event)" placeholder="0" maxlength="3">
        </mat-form-field>
    </div>


    <div fxLayout="row" fxLayoutGap="50px">
        <mat-form-field class="example-full-width">
            <mat-label>costo de registro</mat-label>
            <input matInput type="number" step="0.01" matNumber max="999999.99" [(ngModel)]="txt_cost_registro" (keypress)="soloNumeros($event)" (change)="formatearNumero();" placeholder="0.00" maxlength="14">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>precio de venta</mat-label>
            <input matInput type="number" step="0.01" matNumber max="999999.99" [(ngModel)]="txt_precio_venta" (keypress)="soloNumeros($event)" (change)="formatearNumero();" placeholder="0.00" maxlength="14">
        </mat-form-field>       
    </div>


</div>
<div mat-dialog-actions class="button-container" fxLayout="row" fxLayoutAlign="center center">
    <button mat-button mat-dialog-close mat-raised-button color="primary" (click)="saveOrUpdate('save')"
        *ngIf="action !== 'update'">Guardar</button>

    <button mat-button mat-dialog-close mat-raised-button color="accent" (click)="saveOrUpdate('delete')"
        *ngIf="action !== 'save'">Eliminar</button>

    <button mat-button mat-dialog-close mat-raised-button color="primary" (click)="saveOrUpdate('update')"
        *ngIf="action !== 'save'">Actualizar</button>

    <button mat-raised-button mat-dialog-close cdkFocusInitial color="warn" (click)="back()"
        class="closeModal">Cancelar</button>
</div>